$font-size-root: 12px !default;

@import 'bootstrap';

body {
  -webkit-font-smoothing: antialiased;
}

pre {
  margin: 0;
}

.hljs {
  background: #fff;
}

table {
  font-size: $font-size-base;
  th, td {
    vertical-align: middle !important;
  }
  tr:first-child {
    th, td {
      border-top: 0;
    }
  }
  tr {
    td:not(:last-child) {
      width: 1%;
    }
  }
}

.card-header {
  @extend .text-muted;

  padding: .75rem .75rem .72em;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 500;
}

.header {
  border-bottom: 1px solid $gray-lighter;
}

.link {
  color: $gray-dark;
  &:hover {
    color: $gray;
  }
}

.method {
  @extend .label;
  @extend .label-default;

  text-transform: uppercase;
  border-radius: 2px;
  padding: 4px 5px;
  vertical-align: top;

  &.method-get {
    background: $brand-success;
  }

  &.method-post, &.method-put {
    background: $brand-primary;
  }

  &.method-delete {
    background: $brand-danger;
  }
}
