$dark_color: #111;
$medium_color: #888;
$light_color: #eee;

* {
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Arial';
  font-size: 14px;
  color: $dark_color;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $dark_color;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid $light_color;
}

h2 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

h3 {
  font-size: 17px;
  line-height: 17px;
}

h4 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

h5 {
  font-weight: normal;
}

ul {
  margin-bottom: 20px;
  li {
    margin-bottom: 10px;
  }
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 40px 0;
  position: relative;
}

.row {
  overflow: hidden;
  margin: 0 -10px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    box-sizing: border-box;
    margin: 0 10px;
    width: 60px * $i + 20px * ($i - 1);
    float: left;
  }
}

@for $i from 1 through 12 {
  .col-offset-#{$i} {
    margin-left: 60px * $i + 20px * ($i - 1) + 30px;
  }
}

.section {
  &:not(:last-child) {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid $light_color;
  }
  .endpoint {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
    .line {
      display: none;
      content: '';
      width: 2px;
      height: 100%;
      position: absolute;
      left: -20px;
    }
    h3 {
      cursor: pointer;
    }
    .description {
      font-size: 12px;
      color: $medium_color;
      padding-top: 20px;
      font-weight: normal;
    }
    .response, .request {
      padding-top: 20px;
      .code {
        padding: 8px 10px 10px;
        font-size: 12px;
      }
    }
  }
}

.panel {
  border: 1px solid darken($light_color, 5%);
  border-radius: 3px;
  margin-top: 20px;
  .title {
    background: lighten($light_color, 5%);
    border-bottom: 1px solid darken($light_color, 5%);
    padding: 10px;
    font-size: 11px;
    font-weight: bold;
  }
}

.method {
  text-transform: uppercase;
  color: #fff;
  font-size: 9px;
  padding: 4px 5px;
  border-radius: 3px;
  margin-right: 5px;
  font-weight: bold;
}

.get {
  background: #1ABC9C;
}
.post {
  background: #3498DB;
}
.put {
  background: #2980B9;
}
.delete {
  background: #C0392B;
}
