// Color scheme
$dark_color: #111;
$medium_color: #888;
$light_color: #eee;
$brand_color: #5e147d;

// Method colors
$get-color: #1abc9c;
$post-color: #3498db;
$put-color: #2980d9;
$delete-color: #c0392b;

// Misc. values
$transition-time: 200ms;
$mobile-width: 900px;


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
  color: $dark_color;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $dark_color;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 1px solid $light_color;
}

h2 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

h3 {
  padding-top: 10px;
  font-size: 17px;
  line-height: 16px;
}

h4 {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}

h5 {
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
}

ul {
  margin-bottom: 20px;

  li {
    margin-bottom: 10px;
  }
}

.container {
  max-width: 900px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.row {
  overflow: hidden;
  margin: 0 -10px;
  display: flex;
  flex-flow: row nowrap;

  @media all and (max-width: $mobile-width) {
    flex-flow: row wrap;
  }
}

.sidebar {
  flex: 1 80px;
  margin-right: 40px;

  @media all and (max-width: $mobile-width) {
    flex: 1 100%;
    margin-bottom: 30px;
  }

  h5 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: auto;
  }
}

.main-col {
  flex: 8;

  @media all and (max-width: $mobile-width) {
    flex: 1 100%;
  }
}

header {
  background: $brand_color;
  height: 60px;
  line-height: 60px;

  .title {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
  }

  .back {
    float: right;
    color: #fff;
    opacity: 0.7;
    font-size: 12px;
    transition: $transition-time opacity;

    &:hover {
      opacity: 1;
    }
  }
}

main {
  padding: 40px 0;
}

footer {
  height: 60px;
  line-height: 60px;
  border-top: 1px solid $light_color;
  text-align: right;
  font-size: 12px;
  color: $medium_color;

  a {
    color: $medium_color;
    transition: $transition-time color;

    &:hover {
      color: $dark-color;
    }
  }
}

.section {
  &:not(:last-child) {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid $light_color;
  }

  .endpoint {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    .description {
      font-size: 12px;
      color: $medium_color;
      padding-top: 20px;
      font-weight: normal;
    }

    .response, .request {
      padding-top: 20px;

      .code {
        padding: 8px 10px 10px;
        font-size: 12px;
        border-radius: 0 0 3px 3px;
      }
    }
  }
}

.panel {
  border: 1px solid darken($light_color, 5%);
  border-radius: 3px;
  margin-top: 20px;
  overflow-x: auto;

  .title {
    border-bottom: 1px solid darken($light_color, 5%);
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
  }
}

.method {
  text-transform: uppercase;
  vertical-align: bottom;
  color: #fff;
  font-size: 9px;
  padding: 4px 5px;
  border-radius: 3px;
  margin-right: 5px;
  font-weight: bold;
  background-color: $medium_color;

  &.get {
    background-color: $get-color;
  }

  &.post {
    background-color: $post-color;
  }

  &.put {
    background-color: $put-color;
  }

  &.delete {
    background-color: $delete-color;
  }
}

.parameters, .attributes {
  font-size: 12px;

  .name {
    color: $brand_color;
    font-weight: bold;
  }

  .type {
    color: $medium_color;
    font-style: italic;
  }

  .required {
    text-align: center;

    .fa {
      color: $medium_color;
    }
  }
}

.table {
  padding: 8px 0;

  tr {
    td {
      padding: 4px 10px;
    }
  }
}

.attribute-container {
  display: flex;
  flex-flow: column nowrap;

  .attribute {
    display: flex;
    flex-flow: row nowrap;
    align-items: inherit;
    justify-content: flex-start;

    > div {
      padding: 4px 10px;
    }

    .attribute-type {
      flex: 1 1 60px;
    }

    .attribute-name {
      flex: 2 1 0;
      min-width: 90px;
    }

    .attribute-description {
      flex: 8 1 0;
    }
  }

  ul {
    margin: 8px 10px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;

    li {
      list-style: none;
      margin: 10px 0;
      padding: 0 12px;
    }
  }
}

.attribute-enum-member {
  display: flex;
  flex-flow: row nowrap;

  .title {
    border-bottom: 1px solid darken($light_color, 5%);
    padding: 10px;
    font-size: 11px;
    font-weight: bold;
  }

  .attribute-enum-member-name {
    font-weight: 400;
    margin-right: 10px;
    min-width: 60px;
    flex: 1 1 0;
    color: $brand_color;
  }

  .attribute-enum-member-description {
    flex: 7 1 0;
  }
}

.subtype {
  margin-bottom: 25px;
}
