<div class="m-b-3">
  <h5 class="m-b-1">Response <%= response.data.status %></h4>
  <% if response.data? %>
    <div class="response-example">
      <% if response.data.headers %>
        <div class="card">
          <div class="card-header">Headers</div>
          <pre class="code hljs json"><%= JSON.pretty_generate(response.data.headers) %></pre>
        </div>
      <% end %>

      <% if response.data.body %>
        <div class="card">
          <div class="card-header">Body</div>
          <pre class="code hljs json"><%= JSON.pretty_generate(response.data.body) %></pre>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
