<div class="m-b-3">
  <h6 class="m-b-1">Response <%= response.status %></h6>

  <% if response.headers.present? %>
    <div class="card">
      <div class="card-header">Headers</div>
      <pre class="code hljs json"><%= JSON.pretty_generate(response.headers) %></pre>
    </div>
  <% end %>

  <% if response.body %>
    <div class="card">
      <div class="card-header">Body</div>
      <pre class="code hljs json"><%= JSON.pretty_generate(response.body) %></pre>
    </div>
  <% end %>
</div>
