<% @documentation.sections.each do |section| %>
  <h5 class="m-b-1">
    <%= link_to section.title, root_path(:anchor => section.title), class: 'link' %>
  </h5>
  <div class="m-b-2">
    <% section.endpoints.each do |endpoint| %>
      <h6>
        <%= render "method", endpoint: endpoint %>
        <%= link_to endpoint.path, root_path(:anchor => endpoint.id), class: 'link' %>
      </h6>
    <% end %>
  </div>
<% end %>
