<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render 'endpoint', endpoint: @endpoint %>
    </div>
    <div class="col-md-6">
      <h5 class="m-b-2">
        Console
      </h5>
      <%= react_component 'Console', url: @endpoint.url, method: @endpoint.method, params: @endpoint.request.params %>
    </div>
  </div>
</div>
