<header>
  <div class="container">
    <div class="row">
      <%= link_to @documentation.data.title, root_path, class: 'title' %>
      <% if main_app.root_path %>
        <%= link_to main_app.root_path, class: 'back' do %>
          <i class='fa fa-home'></i>
          Home
        <% end %>
      <% end %>
    </div>
  </div>
</header>
