<div class="response">
  <h4>Response: <%= response.status %></h4>
  <% if response.example %>
    <div class="response-example">
      <h5>Example</h5>
      <%# This is kind of fancy for no reason but whatever %>
      <% if response.example.headers %>
        <div class="title">Headers</div>
        <pre class="code hljs json"><%= JSON.pretty_generate(response.example.headers) %></pre>
      <% end %>

      <% if response.example.body %>
        <div class="panel">
          <div class="title">Body</div>
          <pre class="code hljs json"><%= JSON.pretty_generate(response.example.body) %></pre>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if response.attributes.size > 0 %>
    <ul class="response-attributes">
      <%= render partial: 'attribute', collection: response.attributes, as: :attribute %>
    </ul>
  <% end %>
</div>
