<nav class="navbar navbar-full navbar-light p-y-1">
  <div class="container">
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item">
        <%= link_to 'https://github.com/droptheplot/apipony', class: 'nav-link' do %>
          Powered by
          <i class="fa fa-github"></i> Apipony
        <% end %>
      </li>
    </ul>
  </div>
</nav>
